body, ul, li {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: '微软雅黑', sans-serif;
}

.head {
    font-size: 12px;
    padding: 6px 0 0 10px;
}

#login_box {
    width: 380px;
    height: 247px;
    background: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: absolute;
    left: 36%;
    top: 36%;
    /*
    display: none;
    */
    box-shadow: 0 0 8px #000;
}

#login_logo {
    position: relative;
    display: block;
    width: 120px;
    height: 55px;
    background: url("../img/login_window_logo.png") no-repeat -230px 10px;
    margin: 0 auto;
    cursor: move;
}

#close {
    display: block;
    background: url("../img/boxy_btn.png") no-repeat;
    height: 28px;
    width: 28px;
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}

#zhanghao_mima {
    font-size: 16px;
    width: 270px;
    margin: 0 auto;
}

#zhanghao_mima input {
    border-radius: 10px;
    border: 1px #ccc solid;
    font-size: 16px;
    color: #868686;
}

#zhanghao {
    margin-top: 30px;
    margin-bottom: 20px;
}

.denglu_btn {
    width: 300px;
    height: 40px;
    margin: 0 auto;
    padding-top: 20px;
}

.denglu_btn span {
    display: block;
}

#zhuce_btn {
    display: block;
    background: url("../img/login_btn.png") no-repeat;
    width: 111px;
    height: 40px;
    float: left;
}

#denglu_btn {
    display: block;
    background: url("../img/login_btn.png") no-repeat -111px 0;
    width: 111px;
    height: 40px;
    float: left;
}

#xuanze_zhuangtai {
    width: 78px;
    height: 40px;
    float: left;
    font-size: 12px;
}

#zhuangtai {
    width: 15px;
    height: 15px;
    background: url("../img/ptlogin.png") no-repeat;
    float: left;
    margin-top: 12px;
}

#sanjiao {
    width: 7px;
    height: 7px;
    background: url("../img/ptlogin.png") no-repeat;
    float: right;
    background-position-y: -20px;
    margin-top: 15px;
    margin-right: 53px;
}

#zhuangtai_txt {
    float: left;
    font-size: 12px;
    margin-top: -10px;
    margin-left: 15px;
}

#zhuangtai_li {
    width: 100px;
    height: 135px;
    background: white;
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #6a6a6a #666 #cdcdcd;
    margin-right: -50px;
    float: right;
    display: none;
}

#zhuangtai_li li {
    list-style-type: none;
    padding-left: 5px;
    height: 27px;
}

#zhuangtai_li li span {
    display: block;
    padding-top: 7px;
}

.zhuangtai_logo {
    width: 15px;
    height: 15px;
    display: block;
}

.zhuangtai_txt {
    height: 15px;
    display: block;
    float: left;
    padding-left: 20px;
}

#zaxian_logo {
    background: url("../img/ptlogin.png") no-repeat;
    background-position-y: 7px;
}

#lixian_logo {
    background: url("../img/ptlogin.png") no-repeat;
    background-position-x: -18px;
    background-position-y: 7px;
}

#manglu_logo {
    background: url("../img/ptlogin.png") no-repeat;
    background-position-x: -36px;
    background-position-y: 7px;
}

#wurao_logo {
    background: url("../img/ptlogin.png") no-repeat;
    background-position-x: -53px;
    background-position-y: 7px;
}

#yinshen_logo {
    background: url("../img/ptlogin.png") no-repeat;
    background-position-x: -107px;
    background-position-y: 7px;
}

#close, #denglu_btn, #zhuce_btn, #xuanze_zhuangtai, #zhuangtai_li li {
    cursor: pointer;
}